@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1588949044732'); /* IE9 */
  src: url('iconfont.eot?t=1588949044732#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALgAAsAAAAABtgAAAKSAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDHAqBHIEbATYCJAMQCwoABCAFhG0HPRsCBhHVk49kXx3whvHmcUiin5dgww1SJCzVF3eDg30fPF9r2fvdPZvObAhYEfBMxSaWDgCMBLInzJ4wKMetPL2bcz2wURFqJGefPPpC2g7TS7Mnnv/3dv/2NqYR7wQdDznyRJOgJsX9XdcWGYGlA8DnuZzeBLp7Pr+dnduqTUvnsuv5vSjAwLJeYGNNihItooS4YXrJg/y1wxDgKqIBWaPTy1hGOEqAnKf+AbaTYhhWtURoYmGMvMBh20MVYcbz4vvyUYkFxemEE+f3yDH9r2BT34jd2M4I0iDgcgdo0AAYyDFZOqQJ4zS3u9EFWJbCVS0FwWYsVkXgw3r0lweK0JBJaE8A0IHKGkFWokIhKFAhCDZtaMAPCdqqUgI0Y7ZgY6HIzBJ9VOd79Se+//5vb2Qcn6RvfPMoy3vnhnfLlvPl1bPpSLkpqZHGJi6u8jJ//i8vPd11/Yy/GV5GxnKcI16WB9Hv0ZAn+jl1qy8A6lEAqF9EgODe8e0ld/+3YQPAr98vO4qQcaxsKWw2/a9dUgAMd4VhE+1jMWi2ZzCyD49TwOWCGIyl8e+KYKYpgLAdk0GJUwjNqiAN2wBHWAdCrD646hlbHpbOGU0SD9RxF0Ck8AFKkh/QUvhJGvYvHFlEEZIiGq7VSt8wrErg5nBkVIIW9A8aQ6OLo3Ioa2/op15x21UIL+TUZKHMin71iiPyFVPS21ciDhzTABdwHPY9QWRq0UgWRGKd527qRZmhYXaYHRmVoAX9g8bQ6LLmchh8/oZ+6hUvOBrtCzk1nUOZFRvIq3/c5PiVZ9LbVyIOHNMAF9AP+54gTvdr0UgWDhRinUeN3FZ/9nxw8ECd1RHeZOateqWG5Y+m5X+ibVJj2yiazQAAAA==') format('woff2'),
  url('iconfont.woff?t=1588949044732') format('woff'),
  url('iconfont.ttf?t=1588949044732') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1588949044732#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-you:before {
  content: "\e61c";
}

.icon-zuo:before {
  content: "\e616";
}

.icon-sanjiao:before {
  content: "\e65a";
}

