.demo-box{
    .demo-case_box{
        h2{
            line-height: 50px;
            border: 0;
        }
        .subtitle{
            line-height: 40px;
            font-size: 18px;
        }
        .case-main{
            border: 1px solid #eaeefb;
            padding: 24px 24px 15px 24px;;
            box-sizing: border-box;
        }
    }
    .code-pre{
        transition: height .3s ease;
        border: 1px solid #eaeefb;
        border-top: 0;
        // border-bottom: 0;
        box-sizing: border-box;
    }
    .code-inner{
        padding: 15px;
        border-bottom: 1px solid #eaeefb;
        background: #fafafa;
    }
    .pre{
        background: none;
        padding: 10px 10px;
        margin: 0;
        code{
            color: #3182bd;
        }
        // padding-bottom: 15px;
    }
    .code-button{
        user-select: none;
        color: #3eaf7c;
        cursor: pointer;
        height: 44px;
        border: 1px solid #eaeefb;
        border-top: 0;
        text-align: center;
        line-height: 44px;
       box-sizing: border-box;
       .button-title{
           width: 0;
           opacity: 1;
           transition: all .3s;
       }
       &:hover .button-title{
        opacity: 1;
        width: 21px;
       }
    }
}
