

@import './icon//iconfont.css';
@import './demo-box.scss';
@import './color.scss';
@import './button.scss';
@import './pagination.scss';
@import './select.scss';
@import './option.scss';
@import './swiper.scss';
@import './swiper-item.scss';

.theme-default-content{
    li{
        list-style: none;
    }
    ul{
        margin: 0 !important;
        padding: 0 !important;
    }
}